#calculator{
    background-color:#222222 ;
    width: 300px;
    height: 390px;
    text-align: center;
    /* padding: 25px; */
    margin: 0px auto;
    margin-top: 50px;

}
#equals{
    width: 170px;
    height: 40px;
    background-color: #cccccc;
    border-radius: 20% ;
}
.row{
    padding: 10px;
    font-size: 40px;

}
.operator{
    background-color: #ff8c00;
     font-size: 40px;
}
button{
    color: white;
    background-color: #666666;
    font-size: 40px;
}
