body {
      
      margin: 0;
      background: #f9f9f9;
      display: flex;
      justify-content: center;
    }

    
    .main-box {
      width: 700px; 
      background: #fff;
      /* border: 1px solid #000; */
    }

.header{
    width: 650px;
    height: 50px;
    background-color: black;
    color: aliceblue;
    
    

}
.net{
    /* margin-top: 15px; */
    margin-left: 20px;
    padding: 5px;
}
.your{
    /* margin: 0 auto; */
    width: 200px;
    height: 50px;
    font-size: 40px;
    margin-left: 20px;

}
.container{
    display: flex;
    /* width: 800px; */
    height: 300px;
    margin: 0px auto;
    margin-top: 30px;
    
}
.rectangle{
    width: 150px;
    height: 280px;
    border: 4px solid black;
    text-align: center;
    justify-content: space-around;
    /* margin-left: 200px; */
    margin-top: 60px;
}

.cont{
    flex-direction: column;
    margin: 0px auto;
}
.add{
    text-decoration: underline;
    color: blue;
    margin-top: 30px;
    font-size: 20px;
}
.james{
    
}
.user{
    width: 80px;
    height: 80px;
    margin-top: 30px;
}


.box{
    width: 400px;
    height: 200px;
    border: 4px solid black;
    margin: 0px auto;
    text-align: center;
    margin-top: 10px;
}
.title{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.bbutton{
    background-color: #ffd966;
    color: black;
    width: 55px;
    height: 35px;
    box-shadow: 5px 5px 5px black;
}
