<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div class="container">
        {% for i in range(users)%}
        {% if key,vall in users.items()%}
        print(f"vall["first_name"] + ["first_name"]")
        print(f"vall["last_name"] + ["last_name"]")
        print(f"vall["first_name"] * vall["last_name"]")


         
        <div class="sequare"></div>
        <div class="sequare2"></div>
        <div class="sequare3"></div>
    </div>
</body>

</html>