body {
    margin: 0px auto;
}


.main {
    width: 43%;
    margin: 0 auto;
    margin-top: 80px;
}

.box {
    display: flex;
}

.internet {
    display: flex;
    width: 43%;
    margin: 0 auto;
    align-items: center;
    position: absolute;
    left: 30%;
    top: 1px;
    
}

.net {
    font-size: 50px;
    color: blue;
    margin-left: 10px;
    padding-top: 20px;

}



.png {
    width: 90px;
    height: 90px;
        

}

.nav {
    background-color: #4b7faa;
    height: 47px;
    color: aliceblue;
    width: 1000px;
}

.blue {
    color: #0485db;
}

.red {
    color: red;
}

.world {
    text-align: left;
    font-size: 25px;
    margin-left: 25px;
    padding-top: 5px;
}

.left-section {
    width: 230px;
    height: 600px;
}

.so {
    font-size: 20px;
}

.an {
    font-size: 20px;
    width: 230px;
    height: 70px;
}

.hrr {
    margin-bottom: 20px;
    width: 210px;
}

.bttn {
    margin-bottom: 50px;
    height: 60px;
}

.submit {
    width: 210px;
    height: 40px;
    background-color: #4983b6;
    color: aliceblue;
    font-size: 20px;
    border-radius: 8%;
    margin-bottom: 5px;

}

.more {
    background-color: #ed9120;
    color: aliceblue;
    width: 210px;
    height: 40px;
    font-size: 20px;
    border-radius: 8%;
}

#background {
    width: 220px;
    height: 370px;
    position: relative;

}

.career {
    position: absolute;
    right: 0px;
    top: 1px;
    align-items: center;
    justify-content: center;

}

.ninja {
    position: relative;
    justify-content: center;
    align-items: center;
}

.ninj {
    width: 120px;
    height: 120px;
    position: absolute;
    top: 140px;
    right: 70px;
    /* width: 200px; */

}

.Reinvent {
    color: aliceblue;
    font-size: 27px;
    margin-left: 15px;
    width: 190px;
    height: 100px;
}

.learn {
    background-color: #59ccdf;
    color: aliceblue;
    width: 170px;
    height: 30px;
    border-radius: 9%;
    margin-left: 20px;
    position: absolute;
    top: 300px;
    font-size: 15px;
    right: 40px;
}

.right-section {
    width: 800px;
    height: 700px;
    position: relative;
    margin-left: 10px;

}

.house {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 13px;
    left: 0px;

}

.dns {
    margin-left: 90px;
}

h1 {
    font-size: 20px;
    margin-left: 25px;
    color: #4983b6;
}

.top {
    display: flex;
    margin-left: 20px;
    justify-content: center;



}

.mon {
    text-align: center;
    margin-left: 140px;
    width: 430px;
    height: 75px;
    display: flex;
    align-items: center;
    /* margin-top: 10px; */

}

.sd {
    font-size: 20px;
    color: #0485db;
    flex-direction: column;
    margin-top: 1px;
    /* margin-right: 100px; */
}

.dif {
    font-size: 10px;
}

.di {
    font-size: 10px;
}

.phone {
    display: flex;
    height: 50px;
    margin-left: 250px;
    margin-top: 5px;
}

.call {
    width: 40px;
    height: 40px;
    margin-left: 20px;
    margin-top: 5px;
}

.number {
    font-size: 30px;
}

a {
    margin-left: 40px;
    text-decoration: none;
}

.rr {
    width: 750px;
    height: 2px;
    margin-left: 20px;
}

.clients {
    list-style-type: none;
    width: 88%;

}

.computere {
    margin-left: 25px;
}

.header {}

.circle {
    width: 330px;
    margin-left: 100px;
    left: 100px;
}

.head {
    margin-bottom: 100px;
}

.act {
    color: #4983b6;
    margin-left: 30px;
}

.browser {
    width: 650px;
    margin-left: 30px;
}

.CSS {
    width: 130px;
    height: 160px;
}

.BIG {
    display: flex;
    border-top: 10px solid #0485db;
    border-left: 10px solid #0485db;
    border-right: 10px solid #0485db;
    padding: 10px;
    /* margin-bottom: 100px; */
    width: 650px;
    margin-left: 40px;
    margin-top: 30px;
}

.Java {
    width: 540px;
    margin-left: 40px;
}