.nav {
    width: 80%;
    background-color: #333333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    margin-left: 20px;


}

h1 {
    text-align: left;
    padding: 10px;
    margin: 10px;
    color: aliceblue;

}



.nav-links {

    list-style-type: none;
    display: flex;
    align-items: end;
    color: #9f9f9f;
    list-style-type: none;
    /* justify-content: space-around; */
    text-decoration: none;
    font-size: 30px;
    
}
.find{
    display: flex;
    margin-right: 20px;
}

li{
  
}
a {
    color: #9f9f9f;
    justify-content: space-around;
    padding: 25px;
    display: flex;
    text-decoration: none;


}
.active{
    font-weight: bold;
    color: #d0d0d0;
}

.btn{

    color: white;
    background-color: #17a2b8;
    width: 100px;
    height: 55px;
    margin-top: 45px;
    font-size: 20px;
    /* padding-left: 15px; */
    /* box-shadow: 5px 5px 5px black; */
    border: 5px solid black;

}