<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'st.css' %}">
    <title>thank you</title>
</head>
<body>
      <div class="names">
        <header>submiting form</header>
        <div class="info">
            <h1> name    {{ name }}</h1>
            <h1> location   {{ location }}</h1>
            <h1>Language   {{ Language }}</h1>
            <h1>comment    {{ comment }}</h1>
            <!-- <h1>Button     {{ Button }}</h1> -->
        </div>
    </div>
</body>
</html>